DEVICE='{{ bridge_name }}'
NAME='{{ bridge_name }}'
TYPE=Bridge
BOOTPROTO=none
IPADDR='{{ ip_addr }}'
NETMASK='{{ netmask }}'
NETWORK='{{ network }}'
BROADCAST='{{ bc }}'
DELAY=0
DNS1='{{ dns1 }}'
DNS2='{{ dns2 }}'
GATEWAY='{{ gw }}'
ONBOOT=yes